body {
  margin: 0;
}

.content {
  width: 99vw;
  height: 99vh;
}

.startWindow {
  width: 99vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: url(https://static.tildacdn.com/tild3438-3735-4533-b162-316137636130/imageforblog.jpg)
    0 0/100% 100% no-repeat;
}

.startWindowContainer {
  width: 99vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}

.pendulum {
  position: absolute;
  left: 76vw;
  top: 0vh;
}

.pendulum::before {
  content: "";
  display: block;
  width: 0;
  margin: auto;
  border: 15px solid transparent;
  border-top-color: #000;
  border-bottom-width: 0;
}

.pendulum::after {
  content: "";
  display: block;
  margin: auto;
  width: 5vw;
  height: 20vh;
  background: radial-gradient(
      closest-side circle at 50% 87.5%,
      #000 90%,
      transparent
    ),
    linear-gradient(to right, transparent 47%, #999, transparent 53%);
  --mask: radial-gradient(
    closest-side circle at 45% 84.5%,
    rgba(0, 0, 0, 0.3),
    black 136%
  );
  -webkit-mask: var(--mask);
  mask: var(--mask);
  transform-origin: 50% 0;
  animation: pendulum 1s alternate infinite cubic-bezier(0.36, 0, 0.646, 1);
}

@keyframes pendulum {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: inline;
  position: absolute;
  max-height: 50vh;
  font-size: 6vw;
  left: 15vw;
  color: #f1f1f1;
  text-shadow: 2px 5px 3px #000;
  z-index: 100;
}

#h1 {
  top: 10vh;
  animation: showText1 2s 1 ease;
}

@keyframes showText1 {
  from {
    top: -40vh;
  }
  to {
    top: 10vh;
  }
}

#h11 {
  top: 50vh;
  animation: showText2 2500ms 1 ease-in-out;
}

@keyframes showText2 {
  from {
    top: 1500vh;
  }
  to {
    top: 50vh;
  }
}

img {
  width: 10vw;
  height: 10vh;
}

#arrowDown {
  cursor: pointer;
  position: absolute;
  right: 50vw;
  bottom: 0vh;
  animation: arrowDownMove 1s ease infinite alternate;
}

@keyframes arrowDownMove {
  0% {
    bottom: 0vh;
  }
  100% {
    bottom: 2vh;
  }
}

#secWatch {
  position: absolute;
  top: 0;
  font-size: 3vw;
  right: 1vw;
  color: #000;
  z-index: 5;
}

#secondWindow {
  width: 99vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
}

.yourIdea {
  background: url(https://telegra.ph/file/532823fe64c097a01c2e2.jpg) 0 0/100%
    100% no-repeat;
  display: grid;
  grid-template: 40vh 60vh / repeat(5, 20vw);
  grid-template-areas:
    "h h h h h"
    "s1 s2 s3 s4 s5";
}

figure {
  max-height: 50vh;
  border-radius: 10px;
  border: 1px solid black;
  margin: 2vw;
}

#yourIdeaText {
  width: 99vw;
  text-align: center;
  display: grid;
  grid-area: h;
  font-size: 5vw;
  color: #ff9100;
}

.On,
.Off {
  position: relative;
  left: 3vw;
}

.On {
  position: relative;
  top: -10.6vh;
  opacity: 0;
}

.Svg1 {
  grid-area: s1;
}

.Svg2 {
  grid-area: s2;
}

.Svg3 {
  grid-area: s3;
}

.Svg4 {
  grid-area: s4;
}

.Svg5 {
  grid-area: s5;
}

.description {
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
}

.readyProject {
  opacity: 0;
  position: relative;
  top: -15vh;
  margin: 0 auto;
  border-radius: 10px;
  width: 15vw;
  height: 25vh;
}

.Project1 {
  top: -20vh;
  background: url("img/Store.jpg") 0 0/100% 100% no-repeat;
}

.Project2 {
  background: url("img/cutaway.jpg") 0 0/100% 100% no-repeat;
}

.Project4 {
  background: url("img/Kompany.jpg") 0 0/100% 100% no-repeat;
}

.Project5 {
  background: url("img/Promo.jpg") 0 0/100% 100% no-repeat;
}

.menu {
  position: relative;
  top: 20%;
  left: 50%;
  height: 11rem;
  width: 11rem;
  transform: translateX(-50%) translateY(-50%);
  filter: url("#goo");
}

.menu .item {
  position: absolute;
  top: 4rem;
  left: 4rem;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  background: #f0386b;
  color: #ffffff;
  text-align: center;
  transition: transform 600ms cubic-bezier(0.89, 0.34, 0.2, 0.83);
}

.menu .item.-open-menu {
  z-index: 1;
  transition: transform 300ms cubic-bezier(0.89, 0.34, 0.2, 0.83);
  transition-delay: 300ms;
}

.menu .item:nth-of-type(2) {
  transition-delay: 0;
}

.menu .item:nth-of-type(3) {
  transition-delay: 50ms;
}

.menu .item:nth-of-type(4) {
  transition-delay: 100ms;
}

.menu .item:nth-of-type(5) {
  transition-delay: 150ms;
}

.menu .item:nth-of-type(6) {
  transition-delay: 200ms;
}

.menu .item:nth-of-type(7) {
  transition-delay: 250ms;
}

.menu.-opened .item.-open-menu {
  transform: scale(0);
}

.menu.-opened .item:nth-of-type(2) {
  transform: translateX(4rem);
}

.menu.-opened .item:nth-of-type(3) {
  transform: translateX(2rem) translateY(3.5rem);
}

.menu.-opened .item:nth-of-type(4) {
  transform: translateX(-2rem) translateY(3.5rem);
}

.menu.-opened .item:nth-of-type(5) {
  transform: translateX(-4rem);
}

.menu.-opened .item:nth-of-type(6) {
  transform: translateX(-2rem) translateY(-3.5rem);
}

.menu.-opened .item:nth-of-type(7) {
  transform: translateX(2rem) translateY(-3.5rem);
}

.howItWorksBlok {
  position: relative;
  display: grid;
  grid-template: 10vh 90vh/20vw 58vw 20vw;
  width: 99vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(123, 123, 123);
}

.howItWorksBlok img {
  cursor: grab;
}

.howItWorksBlok img:active {
  cursor: grabbing;
}

.yourIdeas3,
.ourWorks3 {
  position: relative;
  top: 5vh;
  width: 20vw;
  height: 80vh;
  border: 3px dashed black;
}

#HeadIdea {
  z-index: 1;
  position: absolute;
  height: 20vh;
}

.yourIdeas3 {
  background: url(https://media.giphy.com/media/VbEuHLBUPQm55MyqJg/giphy.gif) 0
    0/100% 100% no-repeat;
}

.ourWorks3 {
  background: url(https://media.giphy.com/media/6IoB0KgpDRzER43Ok9/giphy.gif) 0
    0/100% 100% no-repeat;
}

.movingYourIdea {
  background: url(https://media.giphy.com/media/3owyp2SViuDIGh8YoM/giphy.gif) 0
    0/100% 100% no-repeat;
}

.titleHowItWorksBlok {
  font-size: 2vw;
  text-align: center;
}

.hide {
  display: none;
}

.hovered {
  background: rgba(123, 123, 123);
}

.workExample {
  display: grid;
  grid-template: 10vh 30vh 5vh / repeat(3, 30vw);
  width: 99vw;
  height: 50vh;
  top: 0;
  left: 0;
  grid-template-areas:
    "T T T "
    "F1 F2 F3" /*Здесь каждому блоку дать имя*/
    "B B B ";
}

.workExampleText {
  margin: auto;
  grid-area: T;
}

.workExampleFigure1 {
  grid-area: F1;
}
.workExampleFigure1 {
  grid-area: F2;
}
.workExampleFigure1 {
  grid-area: F3;
}

.moreWorkExample {
  margin: 0 auto;
  grid-area: B;
}

/*Иконка для связи*/
.fab {
  position: fixed;
  width: 56px;
  right: 10px;
  bottom: 15px;
  margin-left: -28px;
}

.fab:hover .fab-buttons {
  opacity: 1;
  visibility: visible;
}

.fab:hover .fab-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}

.fab-action-button {
  position: absolute;
  bottom: 0;
  display: block;
  width: 56px;
  height: 56px;
}

.fab-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.fab-action-button__icon {
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url("img/Social/free-icon-contact-4542047.png") 0 0/100% 100%
    no-repeat;
}

.fab-buttons__item {
  display: block;
  text-align: center;
  margin: 12px 0;
}

.fab-buttons__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

[data-tooltip]:before {
  top: 50%;
  margin-top: -11px;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 4px 7px;
  margin-right: 12px;
  position: absolute;
  transform: scale(0);
  right: 100%;
  white-space: nowrap;
  transform-origin: top right;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
}

.icon-material {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon-material_fb {
  background: url("img/Social/telegram.png") 0 0/100% 100% no-repeat;
}

.icon-material_tw {
  background: url("img/Social/in.png") 0 0/100% 100% no-repeat;
}

.icon-material_li {
  background: url("img/Social/vk.png") 0 0/100% 100% no-repeat;
}

.icon-material_gp {
  background: url("img/Social/whatsapp.png") 0 0/100% 100% no-repeat;
}

.icon-material_git {
  background: url("img/Social/github.png") 0 0/100% 100% no-repeat;
}

/*Конец иконки для связи*/

.link {
  background-color: rgb(54, 54, 54);
  color: #fff;
  width: 99vw;
  height: 30vh;
}

.divLogo {
  padding-left: 45vw;
}

.logo {
  height: 15vh;
  width: 5vw;
}

.logo:hover {
  transform: rotate(90deg);
  transition-duration: 500ms;
}

.invitation,
.number,
.email {
  padding-left: 10vw;
  font-size: 2vw;
}

/*Верстка для мобилки*/

@media (max-width: 420px) {
  .svgWithMobile {
    width: 100px;
  }

  .pendulum {
    top: 15vh;
  }

  .pendulum::after {
    background: radial-gradient(
        closest-side circle at 50% 93%,
        #f1f1f1 90%,
        transparent
      ),
      linear-gradient(to right, transparent 47%, #999, transparent 53%);
  }

  .yourIdea {
    display: grid;
    grid-template: 20vh 40vh 40vh / repeat(3, 30vw);
    grid-template-areas:
      "h h h "
      "s1 s2 s4"
      "s3 s3 s5";
  }

  .menu {
    top: 76%;
  }

  .Off {
    left: 8vw;
  }

  .On {
    left: -3vw;
    top: 0;
  }

  .Svg3 > .Off {
    left: 23vw;
  }

  .Svg3 > .On {
    left: 12vw;
  }

  .readyProject {
    top: -3vh;
  }

  .Project1 {
    top: -3vh;
  }

  .Project3 {
    top: -7vh;
  }

  #yourIdeaText {
    font-size: 8vw;
  }

  .fab-action-button {
    width: 50px;
    height: 50px;
  }

  .fab-action-button__icon {
    width: 50px;
    height: 50px;
  }
}
